body {
    font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.select-track-wrapper {
    display: block;
    box-sizing: border-box;
    padding: 10px;
}

.select-type, .select-words, .select-title {
    line-height: 2;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 4px;
}

.select-type {
    color: rgb(74, 13, 131);
    background-color: rgb(227, 197, 255);
}

.select-words {
    color: rgb(126, 75, 9);
    background-color: rgb(255, 224, 181);
}

.select-title {
    color: rgb(13, 41, 131);
    background-color: rgb(208, 222, 255);
}

.select-optgroup {
    padding: 2px 2px;
    line-height: 1.2;
    font-size: 1.0rem;
    color:rgb(105, 105, 105);
}

[data-group] {
    margin: 4px;
    border-bottom: 1px dashed rgb(205, 205, 205);
}

[data-group]:last-child {
    border-bottom: 0px;
}

#controls  {
    display: none;
    flex-direction: column;
    width: 100%;
}

.track-wrapper {
    display: flex;
    box-sizing: border-box;
    padding: 8px;
    min-height: 10px;
    width: 100%;
}

#track {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.sample-block {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0px 20px;
    min-width: 60px;
    height: 40px;
    margin: 6px;
    border-radius: 4px;
    color: rgb(208, 246, 255);
    background-color: rgb(79, 163, 241);
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}


.sample-block[data-current="1"] {
    color: #fff;
    box-shadow: 0px 0px 5px 5px rgba(9, 157, 255, 0.1), 0px 0px 0px 5px rgba(9, 157, 255, 0.2);
}

.sample-block[data-played="1"] {
    color: rgb(244, 244, 244);
    background-color: rgb(166, 166, 166);
}

.sample-block[data-active="1"] {
    background-color: rgb(120, 196, 33);
}

.sample-block-label {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top: -6px;
    right: -6px;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    border-width: 2px;
    border-color: #fff;
    border-style: solid;
    background-color: rgb(212, 212, 212);
}

.sample-block-label[data-result="bad"] {
    display: flex;
    background-color: rgb(227, 80, 87);
}

.sample-block-label[data-result="bad"]::before {
    content: "×";
}

.sample-block-label[data-result="good"] {
    display: flex;
    background-color: rgb(68, 197, 115);
}

.sample-block-label[data-result="good"]::before {
    content: "✓";
}

.player-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    min-height: 100px;
    width: 100%;
    /* background-color: rgb(253, 221, 255); */
}

.player-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    min-width: 180px;
    height: 40px;
    /* background-color: rgba(137, 43, 226, 0.492); */
}

.button-play, .button-next, .button-prev {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
}

.button-play {
    background-image: url("../images/icon-play.svg");
}

.button-next {
    width: 40px;
    height: 40px;
    background-image: url("../images/icon-forward.svg");
}

.button-prev {    
    width: 40px;
    height: 40px;
    background-image: url("../images/icon-forward.svg");
    transform: rotate(180deg);
}


.player-noise {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 40px;
    /* background-color: rgba(137, 43, 226, 0.492); */
}

.player-left {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 40px;
    /* background-color: rgba(43, 226, 122, 0.492); */
}

#range-noise {
    width: 50px;
}

.player-noise-label {
    color: #666;
    font-size: 0.8rem;
}


.result-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    min-height: 60px;
    width: 100%;
    /* background-color: rgba(105, 175, 0, 0.498); */
}

#result-choise {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    width: 180px;
    /* background-color: rgba(0, 85, 175, 0.328); */
}

.result-good, .result-bad {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-position: center center;
    background-size: contain;
    border-radius: 7px;
    filter: opacity(0.4);
    transition: filter 0.2s ease;
}

.result-good:hover, .result-bad:hover {
    filter: opacity(0.6);
}

.result-good:active, .result-bad:active {
    filter: opacity(1);
}

.result-bad:active {
    box-shadow: 0px 0px 5px 5px rgba(211, 12, 22, 0.1), 0px 0px 0px 5px rgba(211, 12, 22, 0.2);
}

.result-good:active {
    box-shadow: 0px 0px 5px 5px rgba(12, 211, 98, 0.1), 0px 0px 0px 5px rgba(12, 211, 98, 0.2);
}

.result-good {
    background-image: url("../images/icon-check.svg");
}

.result-good[data-selected="1"] {
    filter: opacity(1);
    box-shadow: 0px 0px 5px 5px rgba(12, 211, 98, 0.1), 0px 0px 0px 5px rgba(12, 211, 98, 0.2);
}

.result-bad {
    background-image: url("../images/icon-cross.svg");
}

.result-bad[data-selected="1"] {
    filter: opacity(1);
    box-shadow: 0px 0px 5px 5px rgba(211, 12, 22, 0.1), 0px 0px 0px 5px rgba(211, 12, 22, 0.2);
}

#result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    margin-top: 30px;
    background-color: rgba(0, 166, 255, 0.35);
}

.nv {
    display: none;
    width: 0px;
    height: 0px;
}