body {
    font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.select-track-wrapper {
    display: block;
    box-sizing: border-box;
    padding: 10px;
}

.select-type, .select-words, .select-title {
    line-height: 2;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 4px;
}

.select-type {
    color: rgb(74, 13, 131);
    background-color: rgb(227, 197, 255);
}

.select-words {
    color: rgb(126, 75, 9);
    background-color: rgb(255, 224, 181);
}

.select-title {
    color: rgb(13, 41, 131);
    background-color: rgb(208, 222, 255);
}

.track-wrapper {
    display: flex;
    box-sizing: border-box;
    padding: 8px;
    min-height: 60px;
    width: 100%;
    /* background-color: rgb(255, 240, 221); */
}

#track {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
    /* background-color: rgb(224, 246, 227); */
}

.sample-block {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0px 20px;
    min-width: 60px;
    min-height: 40px;
    margin: 4px;
    border-radius: 4px;
    color: white;
    background-color: rgb(79, 163, 241);
}

.sample-block[data-active="1"] {
    background-color: rgb(120, 196, 33);
}

.add-word-block {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-height: 40px;
    min-width: 40px;
    margin: 4px;
    border-radius: 6px;
    border-style: dashed;
    border-width: 2px;
    border-color: rgb(79, 163, 241);
}

.add-word-block::before {
    content: "+";
    color: rgb(79, 163, 241);
    font-size: 1.5rem;
    line-height: 1;
}

.player-wrapper {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 8px;
    min-height: 60px;
    width: 100%;
    /* background-color: rgb(253, 221, 255); */
}


.sample-test {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0px 20px;
    min-width: 280px;
    min-height: 40px;
    margin: 4px;
    border-radius: 4px;
    color: white;
    background-color: rgb(120, 196, 33);
    /* background-image: linear-gradient(90deg, rgba(79, 163, 241,1) 0%, rgb(91, 188, 106) 0%); */
}


